.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.terraform/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_store

.env
/bin/create-env-file.sh
/bin/setup-env.sh
/bin/substitutions.json
/bin/setup-azurite.sh
/bin/setup-sftp.sh
