name: bulk-scan-processor
apiVersion: v2
home: https://github.com/hmcts/bulk-scan-processor
version: 1.0.8
description: HMCTS Bulk scan processor service
maintainers:
  - name: HMCTS BSP Team
    email: bspteam@hmcts.net
dependencies:
  - name: java
    version: 4.0.3
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
  - name: servicebus
    version: 0.4.0
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
    condition: servicebus.enabled
  - name: blobstorage
    version: 0.4.3-alpha
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
    condition: blobstorage.enabled
