name: bulk-scan-processor
apiVersion: v1
home: https://github.com/hmcts/bulk-scan-processor
version: 0.2.7
description: HMCTS Bulk scan processor service
maintainers:
  - name: HMCTS BSP Team
    email: bspteam@hmcts.net
