name: bulk-scan-processor
apiVersion: v2
home: https://github.com/hmcts/bulk-scan-processor
version: 1.0.14
description: HMCTS Bulk scan processor service
maintainers:
  - name: HMCTS BSP Team
    email: bspteam@hmcts.net
dependencies:
  - name: java
    version: 4.1.1
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
  - name: servicebus
    version: 1.0.3
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
    condition: servicebus.enabled
  - name: blobstorage
    version: 1.0.0
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
    condition: blobstorage.enabled
