java:
  secrets:
    SB_ACCESS_KEY:
      secretRef: bsp-sb-preview
      key: primaryKey
    SB_CONNECTION_STRING:
      secretRef: bsp-sb-preview
      key: connectionString
    TEST_STORAGE_ACCOUNT_NAME:
      secretRef: storage-account-{{ .Release.Name }}-blobstorage
      key: storage_account_name
    TEST_STORAGE_ACCOUNT_URL:
      secretRef: storage-secret-{{ .Release.Name }}-blobstorage
      key: blobEndpoint
    TEST_STORAGE_ACCOUNT_KEY:
      secretRef: storage-secret-{{ .Release.Name }}-blobstorage
      key: accessKey
    STORAGE_ACCOUNT_NAME:
      secretRef: storage-account-{{ .Release.Name }}-blobstorage
      key: storage_account_name
    STORAGE_URL:
      secretRef: storage-secret-{{ .Release.Name }}-blobstorage
      key: blobEndpoint
    STORAGE_KEY:
      secretRef: storage-secret-{{ .Release.Name }}-blobstorage
      key: accessKey
  environment:
    STORAGE_BLOB_SELECTED_CONTAINER: "bulkscan"
    STORAGE_URL: "$(STORAGE_URL)"
    QUEUE_ACCESS_KEY_LISTEN_NAME: "RootManageSharedAccessKey"
    QUEUE_ACCESS_KEY_SEND_NAME: "RootManageSharedAccessKey"
    QUEUE_ENVELOPE_SEND_ACCESS_KEY: "$(SB_ACCESS_KEY)"
    QUEUE_ENVELOPE_NAME: "{{ .Release.Name }}-servicebus-envelopes"
    QUEUE_PROCESSED_ENVELOPES_NAME: "{{ .Release.Name }}-servicebus-processed-envelopes"
    QUEUE_NOTIFICATIONS_NAME: "{{ .Release.Name }}-servicebus-notifications"
    QUEUE_NAMESPACE: "bsp-sb-preview"
    QUEUE_NOTIFICATIONS_NAMESPACE: "bsp-sb-preview"
    QUEUE_NOTIFICATIONS_SEND_ACCESS_KEY: "$(SB_ACCESS_KEY)"
    QUEUE_PROCESSED_ENVELOPES_READ_ACCESS_KEY: "$(SB_ACCESS_KEY)"
    BULK_SCANNING_DB_USER_NAME: "{{ .Values.postgresql.auth.username}}"
    BULK_SCANNING_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    BULK_SCANNING_DB_NAME: "{{ .Values.postgresql.auth.database}}"
    BULK_SCANNING_DB_HOST: "{{ .Release.Name }}-postgresql"
    FLYWAY_URL: "jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/{{ .Values.postgresql.auth.database}}"
    FLYWAY_USER: "{{ .Values.postgresql.auth.username}}"
    FLYWAY_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    FLYWAY_NOOP_STRATEGY: "false"
    PROCESS_PAYMENTS_ENABLED: "false"
    OCR_VALIDATION_URL_BULKSCAN_SAMPLE_APP: "http://bulk-scan-sample-app-aat.service.core-compute-aat.internal"
    SCAN_DELAY: "2000"
    LEASE_ACQUIRE_DELAY_IN_SECONDS: "15"
    UPLOAD_TASK_DELAY: "2000"
    DELETE_COMPLETE_FILES_CRON: "0/10 * * * * *"
    S2S_URL: "http://rpe-service-auth-provider-aat.service.core-compute-aat.internal"
    IDAM_API_URL: "https://idam-api.aat.platform.hmcts.net"
    CDAM_URL: "http://ccd-case-document-am-api-aat.service.core-compute-aat.internal"
  keyVaults:
    "bulk-scan":
      secrets:
        - name: s2s-secret
          alias: S2S_SECRET
        - name: actions-api-key
          alias: ACTIONS_API_KEY
        - name: idam-client-secret
          alias: IDAM_CLIENT_SECRET
        - name: idam-users-bulkscan-username
          alias: idam.users.bulkscan.username
        - name: idam-users-bulkscan-password
          alias: idam.users.bulkscan.password
        - name: bsp-servicebus-preview
          alias: QUEUE_READ_ACCESS_KEY_NAME
        - name: bsp-servicebus-preview
          alias: QUEUE_WRITE_ACCESS_KEY_NAME
        - name: bsp-servicebus-preview
          alias: ENVELOPES_QUEUE_WRITE_ACCESS_KEY
        - name: bsp-servicebus-preview
          alias: ENVELOPES_QUEUE_READ_ACCESS_KEY
        - name: bsp-servicebus-preview
          alias: PAYMENTS_QUEUE_WRITE_ACCESS_KEY

  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}

  postgresql:
    enabled: true
    postgresqlUsername: bulkscanner
    postgresqlPassword: bsppassword
    postgresqlDatabase: bulk_scan
servicebus:
  enabled: true
  resourceGroup: bsp-aso-preview-rg
  sbNamespace: bsp-servicebus-preview
  setup:
    queues:
      - name: envelopes
      - name: notifications
      - name: processed-envelopes

blobstorage:
  resourceGroup: bulk-scan-aks-rg
  teamName: "Software Engineering"
  location: uksouth
  setup:
    containers:
      - bulkscan
      - bulkscan-rejected
  enabled: true
