java:
  keyVaults:
    "bulk-scan":
      secrets:
        - name: processor-staging-db-password
          alias: BULK_SCANNING_DB_PASSWORD
        - name: s2s-secret
          alias: S2S_SECRET
        - name: flyway-password
          alias: flyway.password
        - name: envelopes-staging-queue-send-shared-access-key
          alias: QUEUE_ENVELOPE_SEND_ACCESS_KEY
        - name: notifications-queue-send-shared-access-key
          alias: QUEUE_NOTIFICATIONS_SEND_ACCESS_KEY
        - name: processed-envelopes-staging-queue-listen-shared-access-key
          alias: QUEUE_PROCESSED_ENVELOPES_READ_ACCESS_KEY
        - name: storage-account-staging-name
          alias: storage.account_name
        - name: storage-account-staging-primary-key
          alias: storage.key
        - name: app-insights-instrumentation-key
          alias: azure.application-insights.instrumentation-key
        - name: reports-email-username
          alias: SMTP_USERNAME
        - name: reports-email-password
          alias: SMTP_PASSWORD
        - name:  reports-recipients
          alias: REPORTS_RECIPIENTS
        - name: actions-api-key
          alias: ACTIONS_API_KEY
        - name: idam-client-secret
          alias: IDAM_CLIENT_SECRET
        - name: idam-users-bulkscan-username
          alias: idam.users.bulkscan.username
        - name: idam-users-bulkscan-password
          alias: idam.users.bulkscan.password
        - name: idam-users-cmc-username
          alias: idam.users.cmc.username
        - name: idam-users-cmc-password
          alias: idam.users.cmc.password
        - name: idam-users-div-username
          alias: idam.users.divorce.username
        - name: idam-users-div-password
          alias: idam.users.divorce.password
        - name: idam-users-probate-username
          alias: idam.users.probate.username
        - name: idam-users-probate-password
          alias: idam.users.probate.password
        - name: idam-users-publiclaw-username
          alias: idam.users.publiclaw.username
        - name: idam-users-publiclaw-password
          alias: idam.users.publiclaw.password
        - name: idam-users-sscs-username
          alias: idam.users.sscs.username
        - name: idam-users-sscs-password
          alias: idam.users.sscs.password
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    STORAGE_BLOB_SELECTED_CONTAINER: "ALL"
    LEASE_ACQUIRE_DELAY_IN_SECONDS: "15"
    FLYWAY_NOOP_STRATEGY: "false"
    BULK_SCANNING_DB_USER_NAME: bulk_scanner@bulk-scan-processor-staging-aat
    BULK_SCANNING_DB_HOST: bulk-scan-processor-staging-aat.postgres.database.azure.com
    QUEUE_ENVELOPE_NAME: "envelopes-staging"
    QUEUE_PROCESSED_ENVELOPES_NAME: "processed-envelopes-staging"
    STORAGE_URL: https://bulkscanaatstaging.blob.core.windows.net
    QUEUE_NOTIFICATIONS_NAMESPACE: reform-scan-servicebus-{{ .Values.global.environment }}-premium
