java:
  applicationPort: 8581
  ingressHost: bulk-scan-processor-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: bsp
  readinessPath: '/health/readiness'
  memoryLimits: 16Gi
  memoryRequests: 4Gi
  environment:
    S2S_NAME: "bulk_scan_processor"
    SMTP_HOST: "false"
    S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    OCR_VALIDATION_URL_BULKSCAN_SAMPLE_APP: http://bulk-scan-sample-app-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    OCR_VALIDATION_URL_PROBATE: http://probate-back-office-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    OCR_VALIDATION_URL_DIVORCE: http://div-cos-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    OCR_VALIDATION_URL_FINREM: http://finrem-cos-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    OCR_VALIDATION_URL_SSCS: http://sscs-bulk-scan-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    OCR_VALIDATION_URL_NFD: http://nfdiv-case-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    OCR_VALIDATION_URL_PRIVATELAW: http://fis-bulk-scan-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SCAN_ENABLED: "true"
    SCAN_DELAY: "4000"
    LEASE_ACQUIRE_DELAY_IN_SECONDS: "300"
    UPLOAD_TASK_ENABLED: "true"
    UPLOAD_TASK_DELAY: "4000"
    NOTIFICATIONS_TO_ORCHESTRATOR_TASK_ENABLED: "true"
    NOTIFICATIONS_TO_ORCHESTRATOR_TASK_DELAY: "3000"
    STORAGE_BLOB_PUBLIC_KEY: "nonprod_public_key.der"
    STORAGE_URL: https://bulkscan{{ .Values.global.environment }}.blob.core.windows.net
    BULK_SCANNING_DB_USER_NAME: bulk_scanner@bulk-scan-processor-postgres-db-v11-{{ .Values.global.environment }}
    BULK_SCANNING_DB_NAME: bulk_scan
    BULK_SCANNING_DB_HOST: bulk-scan-processor-postgres-db-v11-{{ .Values.global.environment }}.postgres.database.azure.com
    BULK_SCANNING_DB_PORT: "5432"
    FLYWAY_URL: jdbc:postgresql://bulk-scan-processor-postgres-db-v11-{{ .Values.global.environment }}.postgres.database.azure.com:5432/bulk_scan?sslmode=require
    FLYWAY_USER: bulk_scanner@bulk-scan-processor-postgres-db-v11-{{ .Values.global.environment }}
    FLYWAY_NOOP_STRATEGY: "true"
    PROCESS_PAYMENTS_ENABLED: "true"
    DELETE_REJECTED_FILES_ENABLED: "true"
    DELETE_REJECTED_FILES_CRON: "0 0/10 * * * *"
    INCOMPLETE_ENVELOPES_TASK_CRON: "0 */15 * * * *"
    DELETE_REJECTED_FILES_TTL: PT72H
    PRIVATELAW_ENABLED: "false"
    NO_NEW_ENVELOPES_TASK_ENABLED: "true"
    DELETE_COMPLETE_FILES_ENABLED: "true"
    DELETE_COMPLETE_FILES_CRON: "0/10 * * * * *"
    QUEUE_ACCESS_KEY_LISTEN_NAME: "ListenSharedAccessKey"
    QUEUE_ACCESS_KEY_SEND_NAME: "SendSharedAccessKey"
    QUEUE_NAMESPACE: bulk-scan-servicebus-{{ .Values.global.environment }}-premium
    QUEUE_ENVELOPE_NAME: "envelopes"
    QUEUE_PROCESSED_ENVELOPES_NAME: "processed-envelopes"
    QUEUE_NOTIFICATIONS_NAME: "notifications"
    QUEUE_NOTIFICATIONS_NAMESPACE: reform-scan-servicebus-{{ .Values.global.environment }}-premium
    NOTIFICATION_STALE_TIMEOUT_HR: 48
    IDAM_API_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net"
    IDAM_CLIENT_REDIRECT_URI: "https://bulk-scan-orchestrator-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback"
    CDAM_URL: "http://ccd-case-document-am-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    JMS_ENABLED: false
  keyVaults:
    "bulk-scan":
      secrets:
        - name: processor-POSTGRES-PASS
          alias: BULK_SCANNING_DB_PASSWORD
        - name: s2s-secret
          alias: S2S_SECRET
        - name: flyway-password
          alias: flyway.password
        - name: envelopes-queue-send-shared-access-key-premium
          alias: QUEUE_ENVELOPE_SEND_ACCESS_KEY
        - name: notifications-queue-send-shared-access-key-premium
          alias: QUEUE_NOTIFICATIONS_SEND_ACCESS_KEY
        - name: processed-envelopes-queue-listen-shared-access-key-premium
          alias: QUEUE_PROCESSED_ENVELOPES_READ_ACCESS_KEY
        - name: storage-account-name
          alias: storage.account_name
        - name: storage-account-primary-key
          alias: storage.key
        - name: app-insights-instrumentation-key
          alias: azure.application-insights.instrumentation-key
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: reports-email-username
          alias: SMTP_USERNAME
        - name: reports-email-password
          alias: SMTP_PASSWORD
        - name:  reports-recipients
          alias: REPORTS_RECIPIENTS
        - name: actions-api-key
          alias: ACTIONS_API_KEY
        - name: idam-client-secret
          alias: IDAM_CLIENT_SECRET
        - name: idam-users-bulkscan-username
          alias: idam.users.bulkscan.username
        - name: idam-users-bulkscan-password
          alias: idam.users.bulkscan.password
        - name: idam-users-cmc-username
          alias: idam.users.cmc.username
        - name: idam-users-cmc-password
          alias: idam.users.cmc.password
        - name: idam-users-div-username
          alias: idam.users.divorce.username
        - name: idam-users-div-password
          alias: idam.users.divorce.password
        - name: idam-users-probate-username
          alias: idam.users.probate.username
        - name: idam-users-probate-password
          alias: idam.users.probate.password
        - name: idam-users-publiclaw-username
          alias: idam.users.publiclaw.username
        - name: idam-users-publiclaw-password
          alias: idam.users.publiclaw.password
        - name: idam-users-privatelaw-username
          alias: idam.users.privatelaw.username
        - name: idam-users-privatelaw-password
          alias: idam.users.privatelaw.password
        - name: idam-users-sscs-username
          alias: idam.users.sscs.username
        - name: idam-users-sscs-password
          alias: idam.users.sscs.password
        - name: launch-darkly-sdk-key
          alias: LAUNCH_DARKLY_SDK_KEY
        - name: launch-darkly-offline-mode
          alias: LAUNCH_DARKLY_OFFLINE_MODE
  image: hmctspublic.azurecr.io/bulk-scan/processor:latest
servicebus:
  enabled: false
blobstorage:
  enabled: false
