java:
  secrets:
    SB_CONN_STRING:
      secretRef: servicebus-secret-namespace-{{ .Release.Name }}
      key: connectionString
    TEST_STORAGE_ACCOUNT_NAME:
      secretRef: storage-secret-{{ .Release.Name }}
      key: storageAccountName
    TEST_STORAGE_ACCOUNT_KEY:
      secretRef: storage-secret-{{ .Release.Name }}
      key: accessKey
    TEST_STORAGE_CONTAINER_NAME:
      secretRef: container-secret-{{ .Release.Name }}-bulkscan
      key: containerName
    STORAGE_ACCOUNT_NAME:
      secretRef: storage-secret-{{ .Release.Name }}
      key: storageAccountName
    STORAGE_KEY:
      secretRef: storage-secret-{{ .Release.Name }}
      key: accessKey
  environment:
    STORAGE_BLOB_SELECTED_CONTAINER: "bulkscan"
    STORAGE_URL: "https://$(STORAGE_ACCOUNT_NAME).blob.core.windows.net"
    QUEUE_ENVELOPE_SEND: "$(SB_CONN_STRING);EntityPath=envelopes"
    QUEUE_NOTIFICATIONS_SEND: "$(SB_CONN_STRING);EntityPath=notifications"
    QUEUE_NOTIFICATIONS_READ: "$(SB_CONN_STRING);EntityPath=notifications"
    QUEUE_PROCESSED_ENVELOPES_READ: "$(SB_CONN_STRING);EntityPath=processed-envelopes"
    PROCESSED_ENVELOPES_QUEUE_WRITE_CONN_STRING: "${SB_CONN_STRING};EntityPath=processed-envelopes"
    BULK_SCANNING_DB_USER_NAME: "{{ .Values.postgresql.postgresqlUsername}}"
    BULK_SCANNING_DB_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    BULK_SCANNING_DB_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    BULK_SCANNING_DB_HOST: "{{ .Release.Name }}-postgresql"
    FLYWAY_URL: "jdbc:postgresql://{{ .Release.Name }}-postgresql:5432/{{ .Values.postgresql.postgresqlDatabase}}"
    FLYWAY_USER: "{{ .Values.postgresql.postgresqlUsername}}"
    FLYWAY_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    FLYWAY_NOOP_STRATEGY: "false"
    PROCESS_PAYMENTS_ENABLED: "false"
    OCR_VALIDATION_URL_BULKSCAN_SAMPLE_APP: "http://bulk-scan-sample-app-aat.service.core-compute-aat.internal"
    DELETE_REJECTED_FILES_ENABLED: "false"
  keyVaults:
    "bulk-scan":
      secrets:
        - s2s-secret
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}

  postgresql:
    enabled: true
    postgresqlUsername: bulkscanner
    postgresqlPassword: bsppassword
    postgresqlDatabase: bulk_scan
servicebus:
  resourceGroup: bulk-scan-aks
  teamName: "Software Engineering"
  location: uksouth
  serviceplan: basic
  setup:
    queues:
      - name: envelopes
      - name: notifications
      - name: processed-envelopes
  enabled: true

    
