java:
  keyVaults:
    "bulk-scan":
      secrets:
        - processor-staging-db-password
        - s2s-secret
        - flyway-password
        - envelopes-staging-queue-send-connection-string
        - processed-envelopes-staging-queue-listen-connection-string
        - storage-account-staging-name
        - storage-account-staging-primary-key
        - app-insights-instrumentation-key
        - reports-email-username
        - reports-email-password
        - reports-recipients
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devApplicationInsightsInstrumentKey: "f666440f-43c0-4abb-9c20-2ce175a374f0"
  environment:
    STORAGE_BLOB_SELECTED_CONTAINER: "ALL"
    LEASE_ACQUIRE_DELAY_IN_SECONDS: "15"
    FLYWAY_NOOP_STRATEGY: "false"
    BULK_SCANNING_DB_USER_NAME: bulk_scanner@bulk-scan-processor-staging-aat
    BULK_SCANNING_DB_HOST: bulk-scan-processor-staging-aat.postgres.database.azure.com
